.page-header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__logo {
  display: flex;
  margin-right: 93px;

  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-black);
  text-decoration: none;
}

.logo__web {
  color: var(--accent-color);
}

.site-nav__list {
  display: flex;
  gap: 50px;
}

.site-nav__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus,
  &--current {
    color: var(--accent-color);
  }

  &--current::after {
    content: '';

    position: absolute;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
