.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $secondary-background-color;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address-block {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $primary-white;
  text-decoration: none;
}

.address-block__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address-block__address,
.address-block__contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $primary-white;
  text-decoration: none;
}

.address-block__contact {
  color: $semi-transparent-white;

  transition-property: color;
  transition-duration: $duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.social-block {
  margin-right: 93px;
}

.social-block__title {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white;
}

.socials-list {
  @extend %socials;
}

.socials-list__item {
  @extend %socials__item;
}

.socials-list__link {
  @extend %socials__link;

  background-color: rgba(225, 225, 225, 0.1);
}

.socials-list__icon {
  fill: $primary-white;
}
